*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: white;
}
.form{
    background-color: red;
    height: 440px;
    margin: 20px auto;
    padding: 60px;
}
.col1{
    background-color: yellow;
    width: 50%;
    height: 250px;
    font-size: 24px;
    float: left;
    padding-top: 150px;
    text-align: center;
}
.col2{
    background-color: gray;
    width: 48%;
    height: 400px;
    float: right;
    padding-left: 20px;
}
.col2 input{
    width: 70%;
    margin: 20px;
    height: 30px;
    background-color: gray;
    color: black;
    overflow: hidden;
    display: block;
    border-style: none;
    border-bottom: 5px red solid;
}
/* input:hover{
    border-bottom: 5px brown solid;
} */
input:focus{
    outline: none;
}
input:active{
    border-bottom: 5px rgb(50, 42, 165) solid;
}